@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #1f1d58;
}

button {
    background:
        transparent;
    border: 0;
    padding: 0;
    cursor: pointer;

}

.sidebar {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: #29277a;
    transition: width 0.4s;
    z-index: 9999;
}

.sidebar.open {
    width: 260px;
}

.sidebar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    z-index: 9999;
}

.sidebar-header {
    display: flex;
    align-items: center;
    height: 72px;
    background:
        rgb(0 0 0 / 15%);
}

.sidebar-burger {
    width: 60px;
    height: 72px;
    display: grid;
    place-items: center;
    color: #f9f9f9;
}


.sidebar-logo {
    height: 28px;
}

.sidebar-menu {
    display: grid;
    padding: 2%;
    z-index: 2;
}


.sidebar-button {
    display: flex;
    gap: 16px;
    align-items: center;
    height: 56px;
    width: 100%;
    font-family: "Popoins";
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1;
    padding: 0 10px;
    border-radius: 8px;
    color: #f9f9f9;
    opacity: 0.8;
    z-index: 9999;
}

.sidebar-button>button {
    opacity: 0.5;
}

.sidebar-button:hover {
    background:
        rgb(0 0 0 / 30%);
    opacity: 1;
}


.sidebar-button:hover>span {
    opacity: 1;
}

.sidebar-logo,
.sidebar-button p {
    opacity: 0;
    transition: 0.3s;
}

.sidebar.open:is(.sidebar-button p,
    .sibebar-logo) {
    opacity: 1;
}

.row {
    padding-top: 1%;
}

.Display-2 {
    color: #f9f9f9;
    padding-left: 15%;
}

.image1 {
    border-radius: 10%;
    border: 4px solid;
    border-color: #29277a;
}

.title {
    position: relative;
    left: 60px;
}

.forms {
    position: relative;
    z-index: 1;
    left: 10px;
}

.barra {
    background-color: #29277a;

    /* Otros estilos aplicar */
}

.footerStyle{
    background-color: #29277a;
    margin-top: 21px;
}

.text-white{
    color: white;
    font-family: 'Popoins';
}

.box{
    padding-bottom: 5px;
}